@import 'tailwindcss';
:root {
  --foreground: #eeeeee;
  --background: #111111;
  --secondary: #b4b4b4;
  --logo: #9b9999;
  --work-bg: #191919;
}
body {
  margin-top: 60px;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-syne);
  overflow-x: hidden !important;
}
@keyframes fadeMove {
  0% {
    opacity: 0;
    transform: translate(-100%, -50%) scale(0.9);
  }
  50% {
    opacity: 0.2;
    transform: translate(0%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(100%, -50%) scale(1.1);
  }
}

.animate-fadeMove {
  animation: fadeMove 8s ease-in-out infinite alternate;
}

.animate-fadeMove {
  animation: fadeMove 6s ease-in-out infinite alternate;
}
.work {
  animation: appear 5s;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.firm {
  animation: appear 5s;
}
